.header{
    height: 64px;

}
/* Header */
.header__navbar{
    height: 64px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--back-color);
    position: fixed;
    z-index: 1000;;
}

.header__navbar-list{
    display: flex;
    justify-content: space-around;
}

.header__navbar-item{
    height: 64px;
    font-size: 1.5rem;
    padding: 22px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__navbar-item:hover{
    background-color: var(--hover-color);
}

.header__navbar-item:hover .header__navbar-item-link{
    color: var(--white-color);
}

.header__navbar-item-link{
    text-decoration: none;
    color: var(--text-color);
}

.header__navbar-icon-link{
    color: var(--text-color);
    font-size: 0.8rem;
    padding-left: 8px;
}

.header__navbar-logo-img{
    height: 45px;
    align-self: center;
}

.header__navbar-option-list{
    display: flex;
    padding: 0 18px;
    grid-area: auto;
    list-style: none;
    align-items: center;
}

.header__navbar-option-item{
    padding: 0 8px;
    cursor: pointer;
}


.header__navbar-icon{
    font-size: 2rem;
    color: var(--text-color);
}

.header__navbar-icon-cart{
    position: relative;
}

.header__navbar-icon-cart::after{
    position: absolute;
    content: '0';
    font-size: 12px;
    bottom: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);

}

.header__navbar-language{
    display: flex;
}


.header__navbar-language img{
    padding: 0 4px;
}

.header__item--hover{
    position: relative;
}

.header__item--hover:hover .header__service{
    display: block;
}


.header__service{
    position:absolute;
    top: 118%;
    left: 0;
    width: 250px;
    background-color: #555;
    display: none;
}

.header__service::before {
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
    position: absolute;
    top: -20px;
    left: 5px;
}

.header__service::after {
    content: "";
    position: absolute;
    display: block;
    width: 250px;
    height: 20px;
    right: 0;
    top: -16px;
}

.header__service-item{
    display: block;
    padding:16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    border-top: 1px solid #666;

}


.header__service-item:hover{
    background-color: #666;
    color: var(--white-color);
}


.header__user--hover{
    position: relative;
}

.header__user--hover:hover .header__account{
    display: block;
}

.header__account{
    position:absolute;
    top: 160%;
    right: -60px;
    width: 250px;
    background-color: var(--white-color);
    box-shadow:     0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    cursor:default;
    display: none;
}

.header__account-option{
    margin: 10px 32px 12px 32px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header__account-option a{
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    cursor: pointer;
}

.header__account-option a:hover{
    color: #007bff;
}

.header__account::before {
    content: "";
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: -24px;
    right: 55px;
}

/* Banner */
.container{
    margin: 0 auto;
}

.container__banner{
    position: relative;
}

.banner{
    overflow: hidden;
    transition: 2s;
}

.banner__img-list{
    display: flex;
    transition: 1s;

}

.banner__img-item{
    width: 100%; 
    flex-shrink: 0;
    object-fit: cover; 
    object-position: center;
    cursor: pointer;
}


.banner__control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.8rem;
    background-color: rgba(0,0,0,0.2);
    margin: 0 56px;
    color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner__control-prev{
    left: 0;
}

.banner__control-next{
    right: 0;
}

.banner__control:hover{
    background-color: rgba(0,0,0,0.4);
    color: rgba(255, 255, 255, 0.6);

}

.banner__dot-list{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.banner__dot{
    font-size: 8px;
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.banner__dot--active{
    color: rgba(0, 0, 0, 0.8);
}

.banner__dot:hover{
    color: rgba(0, 0, 0, 0.8);

}

/* Topic */

.container__topic{
    position: relative;
    max-width: 1200px;
    margin: 60px auto;
}

.topic{
    margin-bottom: 150px;
    overflow: hidden;   

}

.topic__img-list{
    display: flex; 
    transition: 1s;
}

.topic-item{
    width: 32%;
    cursor: pointer;
    margin: 0 10px;
    object-fit: cover;
}


.topic__control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.4rem;
    background-color: rgba(0,0,0,0.1);
    margin: 0 56px;
    color: var(--back-color);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.topic__control:hover{
    background-color: rgba(0,0,0,0.2);
}

.topic__control-prev{
    left: -40px;
}

.topic__control-next{
    right: -50px;
}


/* Product */

.container__product{

}

.product__type{
    margin: 10px 0;
    display: grid;
}

.product__name{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black-color);
    margin: auto;
    margin-bottom: 40px;
}

.product__type-list{
    display: flex;
    justify-content: space-around;
}

.product__type-item{
    position: relative;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
    text-align: left;
    text-align: center;
}

.product__type-item:hover{
    box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.1);
}

.product__item-tag{
    display: flex;
    justify-content: end;
}

.product__saleoff-img{
    margin: 9px 9px 0 0;
    height: 50px;
}

.product__item-link{
    cursor: pointer;
    text-decoration: none;

}

.product__item-img{
    padding: 0 auto;
    height: 220px;
}

.product__tile{
    min-height: 54px;
}

.product__item-name{
    display: block;
    margin: 30px 20px 0 20px;
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.7rem;
    text-align: left;
    text-decoration: none;
}

.product__item-price{
    margin: 10px 20px;
    text-wrap: nowrap;
    max-width: 240px;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: left;

}

.product__price-new{
    font-size: 1.6rem;
    font-weight: 700;
    color: #0066cc;
    padding-right: 7px;
}

.product__price-old{
    font-size: 1.4rem;
    color: #868688;
    text-decoration: line-through;
    padding-right: 7px;
}

.product__price-ratio{
    font-size: 1.4rem;
    color: #868688;
    padding-right: 7px;
}

.product__show-all{
    border-radius: 8px;
    border: 1px solid #0066cc;
    text-align: center;
    margin: 30px auto;
    padding: 8px;
    width: 200px;
    cursor: pointer;
}



.product__show-name{
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #0066cc;
}

.product__show-icon{
    font-size: 1.4rem;
    color: #0066cc;
    padding-left: 3px;
}

.product__show-all:hover{
    background-color: #0066cc;
}

.product__show-all:hover .product__show-name,
.product__show-all:hover .product__show-icon{
    color: var(--white-color);
}

.container__banner2{
    margin: 40px 0;
}

.banner2{
    display: block;
    height: 400px;
    background-image: url(../images/banner9.jpeg);
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
}

